*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.NavLink {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.NavLink:hover {
  text-decoration: underline;
}

.NavLink_active {
  color: red;
  font-size: 18px;
  font-weight: 600;
}
